body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* After */

.navbar {
  background-color: crimson !important; /* rgb(1, 1, 51) */
}

.nav-link,
.navbar-brand {
  color: #fff !important;
}

h1 {
  font-style: 1.1rem !important;
  text-align: left !important;
}
h2 {
  font-size: 1.5rem !important;
  font-weight: bold !important;
}

.row {
  margin-right: 0 !important;
}

.btn {
  background-color: #000 !important;
  color: #fff !important;
  width: 200px !important;
}

.inm {
  margin-bottom: 0.6rem !important;
}

.img-fluid {
  height: 200px !important;
  width: auto !important;
}

.bigImg {
  width: 500px !important;
  height: auto !important;
  margin: auto !important;
}

p {
  text-align: justify;
}

.psName,
.psPrice {
  font-size: 1.4rem !important;
  font-weight: 500 !important;
  color: #000 !important;
}

.react-rater {
  font-size: 1.7rem !important;
}

.cart-icon:hover {
  border: none;
}

li {
  list-style: none;
}

.tab-click {
  cursor: pointer;
}
.tab-click:hover {
  background-color: rgb(189, 187, 187);
  color: #fff;
  transition: 0.3s;
}

.orderitem h1 {
  font-size: 1.3rem !important;
}

.order-info h3 {
  font-size: 1.3rem !important;
  text-align: left;
}

.order-info h2 {
  font-size: 1.5rem !important;
  font-weight: bold !important;
  text-align: center !important;
}

.order-info h1 {
  font-size: 1.2rem !important;
  text-align: left !important;
}
